body {
  background: #8ecae6;
  color: #333;
}
.container {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
  border-radius: 3px;
  box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
  background: white;
}
.error {
  color: #f02828;
  font-size: 14px;
}
button {
  text-decoration: none;
  background: #023047;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 3px;
  padding: 10px 20px;
}
